* {
  margin: 0;
  padding: 0;
}

.container {
  margin: 10px;
  display: flex;
}

.item-box {
  border: 1px solid #88ab8e;
  border-radius: 8px;

}

.description-text{
  margin:auto;
}
.title-input{
  color: white;
  margin:auto;
}

.text-box {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.item-box-title {
  color: #afc8ad;
  display: inline-block;
  margin-left: 350px;
  margin-top: 15px;
}

.item-box-date {
  margin-top: 18px;
  float: right;
  font-size: 18px;
}

.item-box-description {
  border: 1px solid #88ab8e;
  font-size: 18px;
  width: 50%;
  border-radius: 5px;
  background-color: #afc8ad;
  margin: 10px 0 10px 0;
}

.fa-location-pin {
  color: #afc8ad;
  font-size: 68px;
}
.icon-check-times {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 150px;
}
.fa-check {
  color: #afc8ad;
  font-size: 50px;
  cursor: pointer;
  transition: all 0.2s linear;
}
.fa-check:hover {
  background-color: #afc8ad;
  color: white;
}
.fa-times {
  color: #c70039;
  font-size: 50px;
  margin-left: 40px;
  cursor: pointer;
  transition: all 0.2s linear;
}
.fa-times:hover {
  background-color: #c70039;
  color: white;
}
.icon-box {
  display: flex;
  justify-content: space-evenly;
  margin-top: 90px;
}

.todo-box {
  background-color: #88ab8e;
  border-radius: 5px;
  border: 1px solid #88ab8e;
  width: 50%;
  margin-right: 20px;
}

.todo-box-text-box {
  display: flex;
  font-size: 18px;
  justify-content: space-between;
  margin: 0 20px 0 20px;
}

.todo-box-description {
  width: 80%;
  font-size: 16px;
  margin: auto;
  border: 1px solid white;
  background-color: white;
  border-radius: 3px;
  margin-top: 15px;
  text-align: justify;
  overflow: hidden;
  padding: 5px;
}

.todo-box-hr {
  margin-top: 10px;
}

.item-box-icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.fa-bars {
  display: none !important;
  color: #88ab8e;
  font-size: 16px;

  margin-left: 20px;
}
input {
  margin: 10px 0 10px 0;
}
::placeholder {
  text-align: center;
}
.active {
  display: block;
}
.unactive {
  display: none;
}

@media (max-width: 768px) {
  .todo-box {
    display: none;
    margin-top: 20px;
  }
  .item-box-title {
    margin-left: 80px;
    font-size: 14px;
  }
  .item-box-date {
    font-size: 14px;
    margin-top: 13px;
  }
  .icon-box {
    display: flex;
    flex-direction: column;
  }
  .item-box-description {
    margin: auto;
    font-size: 14px;
  }
  .fa-location-pin {
    font-size: 38px;
    margin-top: 20px;
  }
  .fa-times {
    font-size: 30px;
  }
  .fa-check {
    font-size: 30px;
  }
  .fa-bars {
    display: block !important;
    font-size: 14px !important;
  }
  .bars-icon {
    top: 20px;
    position: absolute;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .item-box {
    width: 80%;
  }
  .item-box-title {
    margin-left: 239px;
    font-size: 16px;
  }
  .item-box-date {
    font-size: 16px;
    margin-top: 14px;
  }
  .icon-box {
    margin-top: 150px;
  }
  .fa-location-pin {
    font-size: 58px;
  }
  input {
    margin: 10px;
  }
  .icon-check-times {
    margin-top: 200px;
  }
  .fa-check {
    font-size: 40px;
  }
  .fa-times {
    font-size: 40px;
  }
  .item-box-description {
    font-size: 16px;
  }
  .todo-box-text-box {
    font-size: 16px;
    margin: 10px;
  }
}
